.site-footer {
	background: #343434;
	color: #939393;
	h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
	a {
		text-decoration: none;
		color: #fff;
		&:hover,
		&:active,
		&:focus {
			color: #fff;
			text-decoration: underline;
		}
		&:visited {
			color: #fff;
		}
	}
}
.site-info {
	padding: 15px 0;
	text-align: center;
}
.footer-widget-area {
	padding: 30px 0 20px;
	background: #272727;
	line-height: 23px;
}